

body{
	background: #f1f1f1;
}

h1,h2,h3{
	text-align: center;
	color:#05104E;
}


.nav{
	background: black;
}
ul{
	position: absolute;
	left:40%;
}

ul li{
	display: inline;
	padding:5px;
	margin:100px,0px;
}

ul a{
	text-decoration: none;
	/*0-255*/
	color:rgb(5,18,91);
}



