body{
	color: #057D7B;
	margin: 0;
	font-size: 1em/1.5;/*em=16px*/
}

@media screen and (max-width: 1800px) and (min-width: 990px){
	.headerd{
		padding-top: 170px;
		height: 850px;
		background:
		linear-gradient(#ffa949, transparent 90%),
		linear-gradient(0deg,#fff,transparent),
		url("../img/volcan.jpg") no-repeat center;

		background-size: cover;
	}

	body{
			color: #ffa949;
		}

	.titulo{
		color: white;
		font-size: 1.6em;
		letter-spacing: 0.6em;
		padding-bottom: 10px;
	}
	
	.primera,.segunda{
		width: 75%;
		padding-left: 50px;
		padding-right: 50px;
		margin: auto;
		max-width: 960px;
	}

	.hotel,.tips{
		width: 45%;
	}

	.hotel{
		float: left;
	}

	.tips{
		float: right;
	}

}

@media screen and (max-width: 990px) and (min-width: 600px){
	.headerd{
		padding-top: 170px;
		height: 850px;
		background:
		linear-gradient(red, transparent 90%),
		linear-gradient(0deg,#fff,transparent),
		url("../img/volcan.jpg") no-repeat center;

		background-size: cover;
	}
	body{
			color: red;
		}
	.titulo{
		color: white;
		font-size: 1.6em;
		letter-spacing: 0.6em;
		padding-bottom: 10px;
	}
	.primera,.segunda{
		width: 75%;
		padding-left: 50px;
		padding-right: 50px;
		margin: auto;
		max-width: 960px;
	}

	.hotel,.tips{
		width: 45%;
	}

	.hotel{
		float: left;
	}

	.tips{
		float: right;
	}
}

@media screen and (max-width: 600px) and (min-width: 400px){
	.headerd{
		padding-top: 170px;
		height: 850px;
		background:
		linear-gradient(blue, transparent 90%),
		linear-gradient(0deg,#fff,transparent),
		url("../img/volcan.jpg") no-repeat center;

		background-size: cover;
	}
	body{
			color: blue;
		}
	.titulo{
		color: white;
		font-size: 1.6em;
		letter-spacing: 0.6em;
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 400px) and (min-width: 0px){
	.header{
		padding-top: 170px;
		height: 850px;
		background:
		linear-gradient(#ffa949, transparent 90%),
		linear-gradient(0deg,#fff,transparent),
		url("../img/volcan.jpg") no-repeat center;

		background-size: cover;
	}
	body{
			color: #ffa949;
		}
	.titulo{
		color: white;
		font-size: 1.6em;
		letter-spacing: 0.6em;
		padding-bottom: 10px;
	}
}

h1{
	font-size: 5em;/*5x16px*/
	color: rgba(255,255,255,1); /*(0-255) grado alfa(0-1)*/
	text-transform: uppercase;
	margin: 12px 0 0;
	text-shadow: 0px 10px 10px rgba(0,0,0,0.8);
}

h2{
	font-size: 3em;
	margin: 20px 0 0.5em;
}

h3{
	font-size: 1.25em;
	color: #48525c;
	margin-bottom: 1.7em;
}

img{
	width: 100%;
	height: 90%;
	margin-bottom: 20px;
	border-radius: 10px; 
}

ul,ol{
	margin: 30px 0;
}

li{
	margin-bottom: 10px;
}

.intro{
	font-size: 1.25em;
}

.primera,.headerd,footer{
	text-align: center;	
}

.primera{
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 10px solid #ffa949;
}

.segunda{
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 2px solid #dfe2e6;
}

footer{
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 10px solid #ffa949;
}

.fauna{
	color: white;
	text-align: center;
	padding: 18% 24%;
	border-top: 10px solid #ffa949;
	margin: 105px 0 60px;
	background: url("../img/fauna.jpg") no-repeat center;
	background-size: cover;
	border-radius: 10px;
}


.linkf{
	font-size: 1.25em;
	border-bottom: 3px solid;
	text-decoration: none;
	padding: 0 9px 3px;
	margin-top: 20px;
}

.segunda:after{
	content: "";
	display: block;
	clear: both;
}


a:link{
	color: rgb(255,169,73);
}

a:visited{
	color: lightcoral;
}

a:hover{
	color: lightblue;
}